@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #26272b;
    color: #f4f4f4;
}

a {
    color: #f4f4f4;
    text-transform: none;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 1rem;
}

.up {
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 2em;
    background-color: #26272b7e;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
}

